---
import { getOffre } from '../../backend.mjs';
import Base  from '../../layouts/Base.astro';

const { id } = Astro.params;
const offre = await getOffre(id);
if(!offre){
   return Astro.redirect('/offres');
}
---

<Base titre={offre.nomMaison}>
    <h2>{offre.nomMaison}</h2>
    <ul>
        <li>{offre.adresse}</li>
        <li>{offre.prix} €</li>
        <li>{offre.surface} m²</li>
        <li>{offre.nbChambres} chambres</li>
        <li>{offre.nbSdb} salle de bains</li>
    </ul>
</Base>`;