---
import Base from '../../layouts/Base.astro';
import Card from '../../components/Card.astro';
import { getOffres } from "../../backend.mjs";
import { filterByPrix } from "../../backend.mjs";


let message = '';
let offres = [];
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
		if(offres.length === 0) {
			message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
		} else {
        	message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`
		}
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
        offres = await getOffres();
    }
} else {
    offres = await getOffres();
}

---
<Base titre="Offres">
    <h1 class="text-9xl font-extrabold animate-bounce flex justify-center mt-10">Offres</h1>
    <form action="/offres" method="POST">
      <input type="number" name="minPrix" placeholder="Prix minimum" />
      <input type="number" name="maxPrix" placeholder="Prix maximum" />
      <input type="submit" value="Filtrer par prix" />
  </form>
  <p>{message}</p>
    <div x-data="{ showFavorites: false, viewMode: 'grid' }">
    <button
      @click="showFavorites = !showFavorites"
      class="font-bold py-2 px-4 rounded-lg border-2 border-green-800"
      
    >
      <span x-show="!showFavorites">Afficher les favoris</span>
      <span x-show="showFavorites">Afficher tout</span>
    </button>

    <div class="flex space-x-4 my-5">
      <button
        @click="viewMode = 'grid'"
        :class="viewMode === 'grid' ? 'bg-green-500 text-white' : 'bg-gray-200 text-black'"
        class="font-bold py-2 px-4 rounded-lg border-2 border-green-800"
      >
        Vue Grille
      </button>
      <button
        @click="viewMode = 'list'"
        :class="viewMode === 'list' ? 'bg-green-500 text-white' : 'bg-gray-200 text-black'"
        class="font-bold py-2 px-4 rounded-lg border-2 border-green-800"
      >
        Vue Liste
      </button>
    </div>

    <div 
      x-show="!showFavorites" 
      x-bind:class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col space-y-4'"
    >
      {offres.map((offre) => <Card {...offre} />)}
    </div>

    <div 
      x-show="showFavorites" 
      :class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col space-y-4'"
    >
      {
        offres
          .filter((offre) => offre.favori)
          .map((offre) => <Card {...offre} />)
      }
    </div>
  </div>
  <ul>
    <li><a href={`/surface/80`}>SURFACE PLUS GRAND QUE 80M²</a></li>
    <li><a href={`/prix/1500`}>PRIX PLUS PETIT QUE 1500€</a></li>
  </ul>
</Base>